/* .main {
    float:left;
    width:90%;
    height: 50%;
    padding:10px;     
} 
*/

:root {
    --blue: #00c3e3;
    --pink: #ff4554; 
    --grey: #989898;
    --dark: #414548;
    --red: #e60012;

    --bluehalf:#00c3e350;

    --greyhalf:#98989850;
    --darkhalf:#41454850;
    --redhalf:#e6001250;

}


/* @media only screen and (max-width: 800px) {
    body {
        

    }
  } */

.titleouter {
    float:left;
    margin-bottom: 2%;
    width:100%;
}

.titleouter .titletop {
    float:left;
    width:100%;
    padding: 10px 0;
    text-align: center;
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    text-transform:uppercase;
    background-color: var(--dark);
}

.titleouter .titlebottom {
    float:left;
    width: 100%;
    font-size: 1.75em;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.titleouter .titlebottom .titlebottomleft {
    float:left;
    width: 20%;
    padding: 5px 0;
    background-color: var(--blue);
}

.titleouter .titlebottom .titlebottomright {
    float:right;
    width: 20%;
    padding: 5px 0;
    background-color: var(--red);
}



.leagueouter {
    float:left;
    width:100%;
}

.gamesouter {
    float:left;
    width:100%;
    margin-top:10%;
}

.leaguerow {
    float: left;
    width: 100%;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-left: 2px solid #e3e3e3;
    border-right: 2px solid #e3e3e3;
    font-size: 1.5em;

}

    .leaguerow:hover {
        background-color: var(--pink);
        color: #fff;
        cursor: pointer;
    }

    .leaguerow.header {
        float: left;
        width: 100%;
        background-color: var(--red);
        color: #fff;
    }

    .leaguerow.leader {
        float: left;
        width: 100%;
        background-color: var(--blue);
        color: #fff;
    }

    .leaguerow .id {
        float: left;
        width: 5%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .leaguerow .name {
        float: left;
        width: 10%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .leaguerow .wl {
        float: left;
        width: 10%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .leaguerow .prc {
        float: left;
        width: 10%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .leaguerow .gf {
        float: left;
        width: 5%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .leaguerow .ga {
        float: left;
        width: 5%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .leaguerow .gd {
        float: left;
        width: 5%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .leaguerow .avgodds {
        float: left;
        width: 10%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .leaguerow .streak {
        float: left;
        width: 10%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .leaguerow .last5 {
        float: left;
        width: 20%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
        
    }

    .leaguerow .last5 .last5inner {
        float: left;
        margin-left:20%;
    }

    .leaguerow .last5 .last5inner .last5outer {
        float: left;
        padding:4px 6px;;
        margin: 0 2px;
        border-radius: 50%;
        color: #fff;
        font-weight: 700;
        font-size: .75em;
    }

    .leaguerow .last5 .last5inner .last5outer.win {
        background-color: green;
    }

    .leaguerow .last5 .last5inner .last5outer.lose {
        background-color: red;
    }

    .leaguerow .change {
        float: left;
        width: 0%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .leaguerow.selected {
        border-color: var(--pink);
    }


.scorerow {
    float:left;
    width: 100%;
    border-bottom: 2px solid #e3e3e3;
    border-left: 2px solid #e3e3e3;
    border-right: 2px solid #e3e3e3;
    font-size: 1.5em;

}

    .scorerow:hover {
        background-color: var(--pink);
        color: #fff;
    }

    .scorerow.header {
        float: left;
        width: 100%;
        background-color: var(--red);
        color: #fff;
        margin-top:20px;
    }

        .scorerow.header .hometeam {
            float:left;
            width: 33%;
            border-right: 2px solid #e3e3e3;
            text-align: center;
            padding: 5px 1px 5px 1px;
        }

        .scorerow.header .hometeam .record {
            display:none;
        }

        .scorerow.header .homescore {
            float:left;
            width: 0%;
            border-right: 0;
            text-align: center;
            padding: 5px 0;
        }

        .scorerow.header .awayteam {
            float:left;
            width: 33%;
            border-right: 2px solid #e3e3e3;
            text-align: center;
            padding: 5px 1px 5px 1px;
        }

        .scorerow.header .awayteam .record {
            display:none;
        }

        .scorerow.header .awayscore {
            float:left;
            width: 0%;
            border-right: 0;
            text-align: center;
            padding: 5px 0;
        }

    .scorerow .name {
        float:left;
        width: 7%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .scorerow .date {
        float:left;
        width: 10%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .scorerow .hometeam {
        float:left;
        width: 27%;
        border-right: 2px solid #e3e3e3;
        /*text-align: center;*/
        padding: 5px 0 5px 1%;
    }

    .scorerow .hometeam .record {
        float:right;
        padding: 5px 8px;
        margin-top: -5px;
        margin-right: 5%;
        text-align: center;
        border-radius: 50%;
        color: #fff;
    }

    .scorerow .hometeam .record.correct {
        background-color: green;
    }
    .scorerow .hometeam .record.wrong { 
        background-color: red;
    }

    .scorerow .hometeam.win {
        background-color: var(--bluehalf);;
    }

    .scorerow .hometeam.lose {
        background-color: var(--redhalf);
    }

    .scorerow .hometeam.pick {
        background-color:  var(--darkhalf);
    }

    .scorerow .homescore {
        float:left;
        width: 5%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .scorerow .awayteam {
        float:left;
        width: 27%;
        border-right: 2px solid #e3e3e3;
        /*text-align: center;*/
        padding: 5px 0 5px 1%;
    }

    .scorerow .awayteam .record {
        float:right;
        padding: 5px 8px;
        margin-top: -5px;
        margin-right: 5%;
        text-align: center;
        border-radius: 50%;
        color: #fff;
    }

    .scorerow .awayteam .record.correct {
        background-color: green;
    }
    .scorerow .awayteam .record.wrong { 
        background-color: red;
    }

    .scorerow .awayteam.win {
        background-color: var(--bluehalf);
    }

    .scorerow .awayteam.lose {
        background-color: var(--redhalf);
    }

    .scorerow .awayteam.pick {
        background-color:  var(--darkhalf);
    }

    .scorerow .awayscore {
        float:left;
        width: 5%;
        border-right: 2px solid #e3e3e3;
        text-align: center;
        padding: 5px 0;
    }

    .scorerow .odds {
        float:left;
        width: 7%;
        border-right: 2px solid #e3e3e3;
        /*text-align: center;*/
        padding: 5px 0 5px 1%;
    }

    .scorerow .notes {
        float:left;
        width: 5%;
        border-right: 2px solid #e3e3e3;
        /*text-align: center;*/
        padding: 5px 0 5px 1%;
    }

